/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0; /* reset */
  background-color: #000;
  overflow: hidden;
}
